#logo {
	width: 30px;
	height: 30px;
}

#logoTitle {
	color:#FFFFFF;
	margin-left: -5px;
	font-size: 20px;
}

.red-border {
	border:1px solid red;
}

.links {
	color:black;
	text-decoration: none;
}

a.links:hover {
	color:red;
	text-decoration: none;
}

.inbox-msg, .outbox-msg {
	font-size: 15px;
}

.inbox-btn {
	text-decoration: none;
	color: #000000;
}

.inbox-btn:hover {
	text-decoration: none;
	color:#FF0000;
}

.navbar-status {
	color:#FFFFFF;
	margin-right: 50px;
}

.navbar-status:hover {
	color:#FFFFFF;
	margin-right: 50px;
	text-decoration: none;
	font-weight: bold;
}
.remainChar {
	padding-top:30px;
}

.responderOn {
	color:#FFFFFF;
}

#responderIndicator {
	margin-right: 50px;
}

#sendingStatus {
	color: #008000;
}
