#logo {
	width: 30px;
	height: 30px;
}

#logoTitle {
	color:#FFFFFF;
	margin-left: -5px;
	font-size: 20px;
}

.red-border {
	border:1px solid red;
}

.links {
	color:black;
	text-decoration: none;
}

a.links:hover {
	color:red;
	text-decoration: none;
}

.inbox-msg, .outbox-msg {
	font-size: 15px;
}

.inbox-btn {
	text-decoration: none;
	color: #000000;
}

.inbox-btn:hover {
	text-decoration: none;
	color:#FF0000;
}

.navbar-status {
	color:#FFFFFF;
	margin-right: 50px;
}

.navbar-status:hover {
	color:#FFFFFF;
	margin-right: 50px;
	text-decoration: none;
	font-weight: bold;
}
.remainChar {
	padding-top:30px;
}

.responderOn {
	color:#FFFFFF;
}

#responderIndicator {
	margin-right: 50px;
}

#sendingStatus {
	color: #008000;
}

#messageDiv {
	height: 350px;
	width:100%;
	border:1px solid #000000;
	overflow-y: scroll;
}

.unread-msg {
	font-weight: bold;
}

.speech-bubble-left {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	color:#FFFFFF;
	margin-left: 7%;
	margin-bottom: 1%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -0.625em;
	margin-left: -0.625em;
}

.speech-bubble-right {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	color:#FFFFFF;
	padding-top: 3%;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	margin-top: -0.625em;
	margin-right: -0.625em;
}

.bubble-text {
	font-size:17px;
}

.bubble-rec {
	display: block;
	font-size:11px;
}

.textAreaRed {
	border-color: #FF0000;
}